body{
    background-color:darkolivegreen;
    margin:0px;
}
nav{
    background-color:white;
    height: 80px;
    border-bottom:4px solid darkolivegreen;
}
#logo{
    width:150px;
    padding-top:13px;
}
i{
    color:gray;
    font-size:40px;
    vertical-align:top;
    margin-top:22px;
    float: right;
    margin-left:15px;
    margin-right: 15px;
}
i:hover{
    background-color: darkolivegreen;
}

@media screen and (max-width:480px){
    #logo{
        display:none;
    }
}